<h1>FOX RACE</h1>


<div class="container">
  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td id="finish_line1"></td>
    </tr>
    <tr class="gutter">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td id="finish_line2"></td>
    </tr>
  </table>
  
  <div class="winner">
    <h2>winner</h2>
    <div><a href="/"><button class="myButton" id="start_over">Start Over</button></a></div>
    <div><form action="/rematch/<%= @player1.id %>/<%= @player2.id %>" method="post"><input type="submit" id="rematch_btn" value="rematch"></form></div>
  </div>
<script type="text/javascript">
    var player1_id = <%= @player1.id %>;
    var player2_id = <%= @player2.id %>;
</script>
</div>
