<div class="container">
  <div class="create_player">
  <form name='create_players' action='/create_players' method='post'>
      <h2>
          Sign up:
      </h2>
      <div class="create_player">
          <label>Player 1:</label><input type='text' name='player1[initials]' placeholder="Initials" required=true autofocus>
      </div>
      <div class="create_player">
          <label>Player 2:</label><input type='text' name='player2[initials]' placeholder="Initials" required=true>
      </div>
      <div>
          <input type='submit' value='Create' id="create">
      </div><br>
  </form>
  </div>
</div>
